html,
body {
    font-family: 'Public Sans Web', sans-serif;
    font-style: normal;
}

h1 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: bold;
}

h2 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
}

h5 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
}

@font-face {
    font-family: 'Public Sans Web, sans-serif';
    font-style: normal;
    src: url(https://fonts.gstatic.com/s/lato/v17/S6u9w4BMUTPHh7USSwaPGQ3q5d0N7w.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-family: 'Public Sans Web, sans-serif';
    font-style: normal;
    src: url(https://fonts.gstatic.com/s/lato/v17/S6u9w4BMUTPHh7USSwiPGQ3q5d0.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

#kd-img {
    object-position: left 30%;
}

#gn-img {
    object-position: left 15%;
}

.container {
    margin-top: 1rem;
}

.cms-banner-text {
    position: absolute;
    width: 100%;
    text-align: left;
    padding-left: 11rem;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.cms-banner-text h1 {
    font-size: 400%;
}

.cms-banner-text h2 {
    font-size: 150%;
    padding-left: 5px;
    font-weight: bold;
}

.jumbotron {
    color: white;
    background-image: url("../img/blue005.png");
    background-position-y: 80%;
    background-position-x: center;
    background-size: cover;
    background-attachment: scroll;
    background-color: black;
    min-height: 375px;
    max-height: 550px;
}

.jumbotron::after {
    clear: both;
}

.banner {
    background-color: black;
}

.banner-wrapper::after {
    clear: both;
    display: table;
    content: "";
}

.tablinks{
    font-size: 20px;
    font-weight: 400%;
    color: white;
    padding-left: 1rem;
    padding-right: 1rem;
    font-family: 'Inter', sans-serif;
    font-style: normal;
}

.tablinks:hover {
    color: white;
  }

textarea{
    resize: horizontal;
}

.cms-logo {
    max-width: 120px;
    min-width: 50px;
}

#cms-main-logo {
    max-width:150px;
}

.cms-logo-col {
    padding-left: 1rem;
    max-width: 150px + 1rem;
    padding-top: 1rem;
}

.row.banner-logos {
    display: flex;
    padding-left: 1rem;
    padding-right: 1rem;
}

.row.banner-logos::after {
    clear: both;
    display: table;
    content: "";
}

#nasa-meatball-logo {
    max-width:150px;
    max-height: 80px;
}


.nasa-logo-col {
    text-align: right;
    max-width:150px;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.tab {
    text-align: center;
    flex: 25%;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 2rem;
    color: white;
}
  
.tab a.active {
    text-decoration: underline;
}

.body-container {
    margin-top: 1rem;
}

.give-me-less-height {
    margin-bottom: 1.5rem;
}

.carousel-item img {
    width: 100%;
    height: 100%;
    opacity: 40%;
    object-fit: cover;
}

.carousel-item {
    width: 100%;
    height: 35rem;
}

.overview-text{
    page-break-inside: avoid;
    padding-bottom: 10px;
}

.title {
    padding-top: 20px;
    padding-bottom: 10px;
}

.subtitle {
    margin-left: -10px;
}

#email-us {
    font-weight: 600;
    letter-spacing: .1rem;
}

#banner-carousel {
    max-width: initial;
}

.modal-dialog {
    max-width: 95%;
    margin: 1.75rem auto;
}

.dark-caption-background {
    background-color: #495057b5;
    max-width: 60%;
    padding-left: .5rem;
    padding-right: .5rem;
    margin: auto;
}

.object-position-top {
    object-position: top;
}

div.row {
    margin-left: 0;
    margin-right: 0;
}

.link-dark {
    color: #212529;
}

.profile-link {
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

.link-secondary {
    color: #6c757d;
}

.link-white {
    color: white;
    text-decoration: underline;
}

@media all and (max-width: 576px) {
    .body-container {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

@media screen and (max-width: 991px) {
    .carousel-item {
        width: 100%;
        height: 25rem;
    }
}

@media screen and (max-width: 991px) and (min-width: 768px) {
    .give-me-more-height {
        margin-bottom: 3.25rem;
    }
    .headshots-row-2 {
        height: 142.50px;
        object-fit: cover;
        object-position: center top;
    }
}

@media all and (min-width: 992px) {
    .headshots-row-2 {
        height: 202.50px;
        object-fit: cover;
        object-position: center top;
    }
    .carousel-item img {
        height: 35rem;
        object-fit: cover;
    }
    .give-me-more-height {
        margin-bottom: 1.5rem;
    }
    .body-container {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

@media all and (min-width: 1200px) {
    .headshots-row-2 {
        height: 247.50px;
        object-fit: cover;
        object-position: center top;
    }
}
